<div class="questions">
	<% questions.each do |question| %>
		<%= render 'subject', :question => question %>
  <% end %>
</div>
<% content_for :sidebar do %>
  <%= render 'tags/tags_cloud' %>
<% end %>
<% content_for :footer do %>
	<%= will_paginate questions, :container => false %>
<% end %>