<div class="vote-up" data-vote-up="">
	<%= link_to 'vote up', question_ratings_path(question), :remote => true, :method => :post, :class => 'vote-up' %>
</div>
<div class="vote">
	<%= question.average_rating_round %>
</div>
<div class="vote-down" data-vote-down=""> 
  <%= link_to 'vote down', question_ratings_path(question), :remote => true, :method => :delete, :class => 'vote-down' %>
</div>