<div class="up">
	<%= link_to image_tag("up.png", :border => 0), question_ratings_path(question), :remote => true, :method => :post, :title => 'vote up' %>
</div>
<div class="vote" id="<%= dom_id(question) %>">
	<%= question.ratings_count %>
</div>
<div class="down"> 
  <%= link_to image_tag("down.png", :border => 0), question_ratings_path(question), :remote => true, :method => :delete, :title => 'vote down' %>
</div>