<div class="vote-up">
	<%= link_to image_tag("up.png", :border => 0), answer_ratings_path(answer), :remote => true, :method => :post, :class => 'vote-up' %>
</div>
<div class="vote <%= dom_id(answer) %>">
	<%= answer.average_rating_round %>
</div>
<div class="vote-down"> 
  <%= link_to image_tag("down.png", :border => 0), answer_ratings_path(answer), :remote => true, :method => :delete, :class => 'vote-down' %>
</div>