// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-comment, .edit_comment{
  #comment_body{
	width: 30em;
	height: 10em;
  }
}
.add-comment{
	margin-left: 7em;	
}
.comments{
	margin-left: 7em;
  .comment-table{
    border-bottom: 1px dotted;
  }
}