// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.subject{
	width: 30em;
	height: 3em;
	padding: 3px;
	margin-top: 10px;
	font-size: 1.7em;
	font-family: 'Times New Roman';
	border-bottom: 1px solid #999;
	display: inline-table;
	
	.edit a{
		float: right;
		font-size: 0.7em;
		margin-top: 30px;
	}
	a{
	  &:hover{
        color: #000;
        text-decoration: none;
        background: #dcdcdc;
      }
	}

	.question-data{
		margin-right: 10px;
		background-color: #CCC;
		float: left;
		font-size: 0.7em;
		width: 4em;
		padding-left: 7px;
		padding-right: 7px;
		text-align: center;
		.answers_count{
			background-color: #CDC951;
		}
		.rate{
			height: 2em;
		}

	}

	.question-info{
		padding-top: 13px;
		width: 3em;
		display: inline;
		.user-info{
			display: block;
			float: right;
			font-size: 0.7em;
			.author{
				color: dimGray;
				font-weight: bold;
			}
			.created-at{
				color: silver;
			}
		}
	}
}
.questions{
	margin-left: 7em;
}
.new-question{
	#question_description{
		width: 30em;
		height: 10em;
	}
}