<ul class="nav navbar-nav">
  <li class="active"><%= link_to "Questions", questions_path %></li>
  <li class="active"><%= link_to "Ask question", new_question_path %></li>
</ul>
<ul class="nav navbar-nav pull-right">	
  <li><%= logged_in_as %></li>
	<li><%= log_out %></li>
</ul>
